/* @import "tailwindcss"; */

/* */
body {
  /* background-color: red; */
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* For MightyOrangutanLogo and PageHeader [_document.tsx] */
#logolink {
  background-color: inherit;
  width: 25%;
}

#logolink a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: black;
  text-decoration: none;
}

#logolink h1 {
  color: #9e512b;
}

#trolleybutton {
  width: 25%;
  height: 100%;
  background-color: green;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border: 1px solid white;
}
#trolleybutton a {
  color: white;
  text-decoration: none;
}

#pageheader {
  border: 1px solid purple; /* DEBUG */
  padding-top: 20px;

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/* For ProductSquare [productsquare.tsx]: products (with picture, title, price) seen in catalogues (or search results?) */
.productsquare:hover {
  border: 1px solid red;
  transform: scale(1.05);
  width: 25%;
}

.productsquare {
  max-width: 50%;
  width: 25%;
  transform-origin: 50% 50%;
  transition: transform 0.4s ease;

  border: 1px solid purple; /* DEBUG */
}
.productsquare img {
  width: 100%;
  height: auto;
}

.outerproducttext {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* */
.productcatalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
























/* */
